<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>クイズ画面</title>
</head>
<body align="CENTER">
<!-- 問題表示フォーム -->
<!--	<div th:each="quiz, iterStat : ${quizzes}">-->
	<div>
		<p th:text="${'問題' + quiz.id}"></p>
	<!-- ヒント表示フォーム -->
		<form th:action="@{/showHint}" method="post">
    		<input type="hidden" name="quizId" th:value="${quizForm.quizId}" />
    		<p th:if="${hint}"th:text="${hint}"></p>
    		<button type="submit" th:unless="${hint}">ヒントを見る</button>
		</form>
		<img th:src="@{quizimages/{imageName}(imageName=${'image' + quiz.id + '.PNG'})}" alt="Quiz Image">
	</div>
		<!-- <p th:text="${quiz.quizName}"></p> -->
	</div>
<!-- 入力フォーム -->
	<form th:action="@{/submitAnswer}" method="post" th:object="${quizForm}">
<!--※いけたら消す	<input type="hidden" th:field="*{quizId}">-->
		<input type="hidden" name="userId" th:value="${user.Id}">
		<input type="hidden" name="quizId" th:value="${quiz.id}">
		<input type="hidden" name="ox" th:value="${ox}">
		<input type="hidden" name="userScore" th:value="${userScore}">
		<label for="userAnswer">あなたの解答:</label>
		<input type="text" th:field="*{quizAnswer}">
		<input type="submit" value="回答する">
	</form>
	
<!-- 結果表示フォーム -->
	<p th:text="${resultMessage}"></p>
	
<!-- ボタン -->
	<form th:action="@{/returnTopPage}" method="post">
		<button type="submit">TOPページへ戻	る</button>
	</form>
</body>
</html>