<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>quizResult</title>
<link rel="styleSheet" th:href="@{/css/resultCss.css}">
</head>
<body>
	<br>
	<h1 class="ox" th:align = "CENTER">..*:' 正誤一覧 ':*..</h1>
	
	<table border="1" th:align="CENTER">
			<tr>
				<th>クイズNo.</th>
				<th>　正誤　 </th>
			</tr>
		
		<th:block th:each="content , s : ${ox}">
			<tr>
				<td th:text="${s.count}" ></td>
				<td th:text="${content=='true'}?'〇':'✕'"></td>
			</tr>
		</th>
	</table>
	<br>
	<form th:action="@{/score}" method="post" th:object="${user}" th:align="CENTER">
		<input type="hidden" name="userId" th:value="${user.id}">
		<input type="hidden" name="userScore" th:value="${userScore}">
       	<button class="ranking-button" type="submit">ランキング</button>
	</form>
	
</body>
</html>