<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<style>
    body {
        Background-color: white;
        color: black;
    }

    .title {
        text-align: center;
        font-size: 50px;
    }

    .body {
        text-align: center;
        font-size: 30px;
    }

    .items {
        text-align: center;
        font-size: 20px;
    }
</style>
<body>
    <h1 class="title">新規登録</h1>
    <div class="body">
    </div>

    <!-- 新規登録フォーム -->
    <form class="items" th:action="@{/register}" method="post" th:object="${userNewLogForm}">
        <ul th:if="${#fields.hasErrors('*')}">
            <p th:each="err:${#fields.errors('*')}" th:text="${err}" style="color:red"></p>
        </ul>
            <p th:if="${errorMessage}"style="color:red"th:text="${errorMessage}"></p>
        </ul>
        
        <p>ユーザー名：<input type="text" th:field="*{name}" /></p>
        <p>パスワード：<input type="password" th:field="*{password}" /></p>
        <p>確認用パスワード：<input type="password" th:field="*{confirmPassword}" /></p>
        <button type="submit">新規登録</button>
    </form>
</body>
</html>