<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>キャルクイズ</title>
</head>
<style>
    body {
        Background-color: white;
        color: black;
    }

    .title {
        text-align: center;
        font-size: 50px;
    }

    .body {
        text-align: center;
        font-size: 30px;
    }

    .items {
        text-align: center;
        font-size: 20px;
    }

    .login-form {
        display: none;
    }
</style>
<body>
    <h1 class="title">キャルクイズ</h1>
<div align="CENTER">
    <!-- 名前入力フォーム -->
<!--    <form class="EnterName" th:action="@{/confirm}" method="post" th:object="${userForm}">-->
<!--        <ul th:if="${#fields.hasErrors('*')}">-->
<!--            <p th:each="err:${#fields.errors('*')}" th:text="${err}" style="color:red"></p>-->
<!--        </ul>-->
        
    <form class="EnterName" th:action="@{/confirm}" method="post" th:object="${userLogForm}">
        <ul th:if="${#fields.hasErrors('*')}">
            <p th:each="err:${#fields.errors('*')}" th:text="${err}" style="color:red"></p>
        </ul>
        <input type="hidden" name="userId" th:value="${user.Id}">
       		 <p><input id="inName" type="text" name="userName" th:value="${user.name}"/></p>
     		 <p><input id="inPass" type="password" name="userPassword" th:value="${user.password}"/></p>
		  <button type="submit">play</button></p>
    </form>
   
<!--    <form th:action="@{/confirm}" method="post">-->
		
		
<!--		<input type="hidden" name="userId" th:value="${user.Id}">-->
<!--        <button type="submit">プレイ</button>-->
<!--    </form>-->

    <!-- 新規登録、ログイン、ログアウトフォーム -->
    <div class="new">
        <form th:action="@{/registerPage}" method="post">
            <button type="submit">新規登録</button>
        </form>

        <button onclick="toggleLoginForm()">ログイン</button>

        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>

        <!-- ログインフォーム -->
        <div class="login-form" id="loginForm">
            <form th:action="@{/login}" method="post" th:object="${userLogForm}">
				 <ul th:if="${#fields.hasErrors('*')}">
				    <p th:each="err:${#fields.errors('*')}" th:text="${err}" style="color:red"></p>
       			 </ul>
            <p th:if="${errorMessage}"style="color:red"th:text="${errorMessage}"></p>
        		 </ul>
                <p>ユーザー名：<input type="text" th:field="*{name}"　autocomplete="${name}" /></p>
                <p>パスワード：<input type="password" th:field="*{password}"autocomplete="${password}" /></p>
                <button type="submit">ログイン</button>
            </form>
        </div>
    </div>
</div>
    <script>
        function toggleLoginForm() {
            var loginForm = document.getElementById("loginForm");
            loginForm.style.display = (loginForm.style.display === 'none') ? 'block' : 'none';
        }
        var target1 = document.getElementById("inName");
		var target2 = document.getElementById("inPass");

		// 変数testの要素を入力不可にする
		target1.disabled = true;
		target2.disabled = true;
    </script>
</body>
</html>